<div class="row">
    <ul>
        {{#each data.results as |item|}}
        <li>
            <p>Found <span style="color:crimson">{{item.count}}</span> Results on <strong>{{item.url}}</strong> for <i>{{data.options.searchTerm}}</i> </p>
            <hr />
            <div class="searchResult d-flex flex-column">
                {{#each item.results as |result|}}
                    {{#> searchResultItem result=result}}
                    {{/searchResultItem}}
                {{/each}}
            </div>
        </li>
        {{/each}}
    </ul>
</div>