<div class="container-fluid">
    <div class="row">
        {{#each data.results as |item|}}
        <div class="row">
            <p>Found <span style="color:crimson">{{item.count}}</span> Results on <strong>{{item.url}}</strong> for <i>{{data.options.searchTerm}}</i> </p>
            <hr />
            <div class="container d-flex flex-column">
                {{#each item.results as |result|}}
                    {{#> searchResultItem result=result}}
                    {{/searchResultItem}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</div>