<p>{{data.title}}</p>

<div>
    <p>Searching <strong>{{data.options.url}}</strong> for <i>{{data.options.searchTerm}}</i> </p>
    {{#each data.results as |result|}}
        <hr />
        {{{result}}}
    {{/each}}
</div>
